*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
.mrows{
    width: 500px;
}
.searchbar{
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px rgb(192, 192, 192);
}
.poster{
    width: 100px;
    padding: 5px;
}
.overview{
    font-size: 12px;
}